<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bug Tracker</title>
    <style>
        .closed {
            text-decoration: line-through;
            font-style: italic;
            font-weight: bold;
            color : red;
        }
        li{
            cursor: pointer;
        }
    </style>
    <script src="angular.js"></script>

    <script>
    /*
        Use Cases
        =========
        1. List the bugs
        2. Add a new bug
        3. Toggle the status of the bug
        4. Remove Closed bugs
        5. Display stats
        6. Search for the bugs
        7. Sort the bugs
        8. Limit the bug display text size
        9. Persist bugs in the storage (localStorage)
        10. Display "created At" for every bug
        11. Persist the bugs in the server
        12. Categorize the bugs
        13. A landing page for the categories
        14. Unit test the application
        15. E2E test the application
    */
    </script>
    <script>

            angular.module("bugTrackerApp", []);

            /*bugTrackerApp.value("Bug",  (function(){
                function Bug(defatuls){
                    defatuls = defatuls || {};
                    this.title = defatuls.title || '';
                    this.isClosed = defatuls.isClosed || false;
                }
                Bug.prototype.toggle = function(){
                    this.isClosed = !this.isClosed;
                };
                return Bug;
            })());*/



           /**/

            angular.module("bugTrackerApp").controller("bugsController", function bugsController($scope, Bug){
                $scope.bugs = [
                    new Bug({ title : "Null pointer exception", isClosed : false}),
                    new Bug({ title : "Object reference not found", isClosed : false}),
                    new Bug({ title : "Array out of bounds", isClosed : false}),
                    new Bug({ title : "Stack overflow error", isClosed : false})
                ];

                //$scope.newBug = '';
                $scope.addBug = function(bug){
                    var newBug = new Bug({
                        title : bug,
                        isClosed : false
                    });
                    $scope.bugs.push(newBug);
                };
                $scope.toggle = function(bug){
                    bug.toggle();
                };

                $scope.removeClosed = function(){
                    for(var i= $scope.bugs.length -1; i>=0;i--){
                        if ($scope.bugs[i].isClosed)
                            $scope.bugs.splice(i,1);
                    }
                };

                $scope.getClosedCount = function(){
                    return $scope.bugs.filter(function(bug){
                        return bug.isClosed;
                    }).length;
                };
            });

    </script>
    <script src="Bug.js"></script>
</head>
<body ng-app="bugTrackerApp" ng-controller="bugsController">
    <h1>Bug Tracker</h1>
    <div class="stats">
        <h3><span class="closed">{{getClosedCount()}}</span> / <span>{{bugs.length}}</span></h3>
    </div>
    <div class="search"></div>
    <div class="sort"></div>
    <div class="content">
        <label for="">Bug :</label>
        <input type="text" name="" id="" ng-model="newBug">
        <input type="button" value="Add New" ng-click="addBug(newBug)">
        <input type="button" value="Remove Closed" ng-click="removeClosed()">
        <ol>
            <li ng-repeat="bug in bugs" ng-click="toggle(bug)" ng-class="{closed : bug.isClosed}">{{bug}}</li>
        </ol>
    </div>
</body>
</html>
